@model Set?

@{
    ViewData["Title"] = "Edit set";
}

<div class="text-center">
    <h1 class="display-4">Edit set: @Model.SetNumber</h1>
</div>


<div class="myform">
    <form asp-action="EditSet" method="post">
        <div  class="myforma">
            <label asp-for="SetNumber" class="" >
                <h4>Set number</h4>
            </label>
            <br />
            <input asp-for="SetNumber" placeholder="Set number..." />
        </div>
        <br />
        <div class="myforma">
            <label asp-for="Reps">
                <h4>Reps</h4>
            </label>
            <br />
            <input asp-for="Reps" placeholder="Reps..."/>
        </div>
        <br />
        <div class="myforma">
            <label asp-for="Weight">
                <h4>Weight</h4>
            </label>
            <br />
            <input asp-for="Weight" placeholder="Weight..."/>
        </div>
        <br />

        <div>
            <p></p>
            <button type="submit">Submit form</button>
            <p></p>
        </div>
    </form>
</div>
